<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>
			Vue Introduction
		</title>
		<link rel="stylesheet" href="css/debug.css">
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text}}
				</li>
			</ol>
			<p> {{ message }} </p>
			<button v-on:click="reverseMessage">Reverse Message</button>
			<br>
			<input type="text" v-model="message2" >
			<p>{{message2}}</p>
			<ol >
				<todo-item
					v-for="item in groceryList"
					v-bind:todo="item"
					v-bind:key="item.id">
				</todo-item>
			</ol>
			<p v-html="wizard"></p>
		</div>



		<script src="index.js"></script>


	</body>

</html>