
#header-logo{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.welcome-page, .why-edge-page{
    height: 100vh;
}
/*.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.navbar{
    z-index:9; 
}
#carouselExampleControls{
    position:absolute;
    width:100%;
    top:0;
}

.mask{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

#carouselExampleControls  .carousel-control-prev, 
#carouselExampleControls  .carousel-control-next{
    top: 45%;
    bottom: 45%;
    width: 4%;
}

#carouselExampleControls  .carousel-control-prev{
    margin-left: 85vw;
}

.carousel .carousel-control-prev-icon ,
.carousel .carousel-control-next-icon  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption {
    background-color: #ffb81c;
    left: 0;
}

.fancy {
    top: 50%;
    transform: translateY(-50%);
    display:table;
    width:70%;
    max-width:70%;
    left: 15%;
}
.fancy div {
    display:table-row;
    line-height:1.5em;
    font-size:2em;
    white-space:nowrap;
}
.fancy h1 {
    font-size:inherit; /* Change font-size in header */
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    width:1px;
    table-layout:fixed;
}
.fancy span.spacer {
    display:table-cell;
}
.fancy h1 {
    padding:0 10px;
}
.fancy span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:2px;
    background:#000;
    vertical-align:middle;
    position:relative;
    top:-1px;
	background-color:white;
}

.left-light-blue-col{
    position: absolute;
    background-color: aqua;
    opacity: 1;
    width: .8rem;
    animation: downward 3s forwards;

}

.left-light-blue-col-our-services{
    position: absolute;
    bottom: -25vh;
    background-color: aqua;
    opacity: 1;
    width: .8rem;
    height: 50vh;
}

@keyframes downward {
    from {height: 0vh;}
    to {height: 50vh;}
}

.work-fields{
    margin-top: 1.5rem;
}

.work-fields > span{
    margin:0 1.5rem 0 1.5rem;
}
.work-fields-pics > img {
    margin: .7rem;
}
.all-work-btn{
    margin: 5rem 0 5rem 0;
    font-weight: bold;
    padding: 10px 16px 10px 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 0.2rem;
}
