<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    Name: <input>
    Pass: <input>
    <Component_2></Component_2>
  </div>
</template>

<script>

export default {
  name: 'Component_1',
  data () {
    return {
      msg: 'first component'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
