<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>The Username is </p>
  </div>
</template>

<script>
export default {
  name: 'Component_2',
  data () {
    return {
      msg: 'second component',

    }
  },
  props: {
      name
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>