<div class="slider-area">
    <!---->
    <div class="carousel-controls">
        <a class="left carousel-control" href="#slideshow" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left">&lt</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="1" class="active">1</li>
            <li data-target="#slideshow" data-slide-to="2">2</li>
            <li data-target="#slideshow" data-slide-to="3">3</li>
            <li data-target="#slideshow" data-slide-to="4">4</li>
            <li data-target="#slideshow" data-slide-to="5">5</li>
        </ol>
        <a class="right carousel-control" href="#slideshow" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right">&gt</span>
        </a>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>
        <div class="carousel-item">
            <img src="assets/Lexus_1.png">
        </div>
        <div class="carousel-item">
            <img src="assets/Lexus_2.png">
        </div>
        <div class="carousel-item">
            <img src="assets/Lexus_3.png">
        </div>
        <div class="carousel-item">
            <img src="assets/Lexus_4.png">
        </div>
    </div>
</div>