<template>
  <div class="home">
    <div class="grid">
      <div class="span-col-2">

        <div id="upper-bar">
          <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
          <ul id="user-menu">
            <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
            <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
            <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
            <span id="session-button" @click="goToYourSession()">2</span>
          </ul>
        </div>
      </div>

        <div class="flex-container-body">
            <div class="upperLeft flex-item-body">
                <div id="major-title">BOOKING</div>
                <p class="major-header">SELECT SESSION DATE</p>
                <p class="minor-header" >Studio close on Sunday &amp; Monday</p>
                <div id="calender">
                        <div class="day-date no-margin" id="sunday" @click="selectDay($event)" day="Sunday"> 
                            <span>S</span> <span style="margin-top: 0.5rem" id="sun-orng">24</span> 
                        </div>
                        <div class="day-date" id="monday" @click="selectDay($event)" day="Monday"> 
                            <span>M</span> <span style="margin-top: 0.5rem" id="mon-orng">25</span> 
                        </div>
                        <div class="day-date" id="tuesday" @click="selectDay($event)" day="Tuesday">
                            <span>T</span> <span style="margin-top: 0.5rem" id="tue-orng">26</span>
                        </div>
                        <div class="day-date" id="wednesday" @click="selectDay($event)" day="Wednesday">
                            <span>W</span> <span style="margin-top: 0.5rem" id="wed-orng">27</span>
                        </div>
                        <div class="day-date" id="thursday" @click="selectDay($event)" day="Thursday">
                            <span>T</span> <span style="margin-top: 0.5rem" id="thu-orng">28</span>
                        </div>
                        <div class="day-date" id="friday" @click="selectDay($event)" day="Friday">
                            <span>F</span> <span style="margin-top: 0.5rem" id="fri-orng">29</span>
                        </div>
                        <div class="day-date" id="saturday" @click="selectDay($event)" day="Saturday">
                            <span>S</span> <span style="margin-top: 0.5rem" id="sat-orng">30</span>
                        </div>
                </div>
                <p class="major-header">SELECT SESSION TIME</p>
                <p class="minor-header" >Interactive Session: 50mn</p>
                <div id="time-range">
                        <div class="time-date no-margin" id="slot-1" @click="selectTime($event)"> 12pm </div>
                        <div class="time-date" id="slot-2" @click="selectTime($event)"> 6pm </div>
                        <div class="time-date" id="slot-3" @click="selectTime($event)"> 8pm </div>
                        <div class="time-date" id="slot-4" @click="selectTime($event)"> 10pm </div>
                </div>
                <p class="major-header">BOOK NUMBER OF SEATS</p>
                <p class="minor-header" >Ticket Price: $20</p>
                <div id="ticket-range">
                        <div class="ticket-type no-margin" id="one_ticket" @click="selectTicket($event)"> 01 </div>
                        <div class="ticket-type" id="two_ticket" @click="selectTicket($event)"> 02 </div>
                </div>
                <p class="major-header">SELECT YOUR PAYMENT METHOD</p>
                <div id="payment-options">
                        <div class="payment-type no-margin" payment="card" id="card" @click="selectPayment($event)"> Credit / Debit Card</div>
                        <div class="payment-type" payment="voucher" id="voucher" @click="selectPayment($event)"> Use a Voucher </div>
                </div>
                <p class="major-header">VOUCHER CODE*</p>
                <hr style="width: 31.1rem;">
                <p class="minor-header">
                    <input type="text" value="" placeholder="*Fill in your Bigbang voucher code" onfocus="this.placeholder=''" onblur="this.placeholder='*Fill in your Bigbang voucher code'" id="voucherCode">
                </p>

            </div>

            <div class="upperRight flex-item-body">
                <p class="major-header">REVIEW</p>
                <p class="minor-header" >Your interactive session titles</p>
                <p>
                    <span class="major-header">{{$route.query.title1}}</span><span class="minor-header">{{$route.query.genre1}}</span>
                </p>
                <p>
                    <span class="major-header">{{$route.query.title2}}</span><span class="minor-header">{{$route.query.genre2}}</span>
                </p>
                <hr style="width: 25.6rem; margin-top: 2.8rem; margin-bottom: 2.8rem;">
                <div>
                    <p class="blue-header inline-display blue-header-margin">YOUR BOOKING :</p><p class="booking-details minor-header inline-display" id="booking-info">{{day}} {{date}} @{{time}} PM {{seats}}</p>
                </div>
                <div>
                    <p class="blue-header inline-display blue-header-margin">TOTAL :</p><p class="booking-details minor-header inline-display" id="booking-total">{{totalPrice}}</p>
                </div>
                <button class="book-now" id="bookButton" @click="submitBooking()"> BOOK NOW </button>
            </div>
        <!-- the end of the flex body container-->
        </div>

        <div class="flex-container-footer">
          <div class="flex-item-container">
            <ul id="footer-menu" class="flex-item-footer">
              <li @click="goRefund()"><a>Refund &amp; Return policy </a></li>
              <li @click="goPrivacy()"><a>Privacy policy</a></li>
              <li @click="goContact()"><a>Contact us</a></li>
            </ul>
          </div>
          <div id="icons-container"  class="flex-item-footer">
            <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.25rem;" class="footer-icons" id="fb_icon" @click="openFB()">
            <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.25rem;" class="footer-icons" @click="openINSTA()">
          </div>
          <!-- the end of the flex footer container-->
        </div>

    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Home Page',
      movieTitle: '',
      genre: '',
      category: '',
      day: '',
      date: '',
      time: '',
      seats: '',
      paymentType: '',
      totalPrice: ''
    }
  },
  methods: {
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    selectDay(element){
      // This is very bad way of manipulating styles of an element. But I copied it from an earlier project so I save time
      // It would have been done in a better way by simply adding a classList to the element
      var dayName = element.currentTarget.getAttribute("day")
      var e = element.currentTarget
      var scope = this
      if(e.classList.contains('bolded-style')){
        e.classList.remove('bolded-style')
        e.classList.add('original-style')
        var innerChild = e.querySelector('[id*="-orng"]')
        innerChild.classList.remove('back-color')
        innerChild.classList.remove('bolded-style')
        scope.day = ''
        scope.date = ''
      }else{
        var allDays = document.getElementsByClassName("day-date");
        for (var i=0; i < allDays.length; i++){
          allDays[i].classList.remove('bolded-style')
          allDays[i].classList.add('original-style')
          var inside = allDays[i].querySelector('[id*="-orng"]');
          inside.classList.remove('back-color')
          inside.classList.remove('bolded-style')
          inside.classList.add('original-style')
        }
        e.classList.remove('original-style')
        e.classList.add('bolded-style')
        var innerChild = e.querySelector('[id*="-orng"]');
        innerChild.classList.add('back-color')
        innerChild.classList.add('bolded-style')
        var dayNum = innerChild.innerHTML;
        scope.day = dayName
        scope.date = dayNum
      }
    },
    getMovieDetails () {
      var movie1 = this.$route.query.key1
      var movie2 = this.$route.query.key2
      
    },
    selectTime (element) {
      var e = element.currentTarget
	    var concatenatedTime = element.currentTarget.innerHTML;
	    var splitted = concatenatedTime.split(/([0-9]+)/)
	    this.time  = splitted[1]+ " "
	    if( e.classList.contains('time-date-clicked') ) {
	      e.classList.remove('time-date-clicked')
	      this.time = ""
	    } else {
	      var allTimes = document.getElementsByClassName("time-date")
	      for(var i=0; i< allTimes.length; i++) {
	        allTimes[i].classList.remove('time-date-clicked')
	      }
	      e.classList.add('time-date-clicked')
	    }
    },
    selectTicket(element){
      var e = element.currentTarget
      this.seats = e.innerHTML
      if( e.classList.contains('ticket-type-clicked') ){
        e.classList.remove('ticket-type-clicked');
        this.seats = ''
        this.totalPrice = ''
      }else{
        var allTickets = document.getElementsByClassName('ticket-type')
        for(var i=0; i< allTickets.length; i++) {
            allTickets[i].classList.remove('ticket-type-clicked')
        }
        e.classList.add('ticket-type-clicked')
        this.seats = '#'+e.innerHTML
        this.totalPrice = '$'+parseInt(e.innerHTML) * 20
      }
    },
    selectPayment(element){
      var e = element.currentTarget
      this.paymentType = e.innerHTML
      if(e.classList.contains('payment-type-clicked') ){
        e.classList.remove('payment-type-clicked');
        this.paymentType = "";
      }else{
        var allPayments = document.getElementsByClassName("payment-type");
          for(var i=0; i< allPayments.length; i++){
            allPayments[i].classList.remove('payment-type-clicked');
          }
        e.classList.add('payment-type-clicked');
        this.paymentType = e.getAttribute("payment");
      }
    },
    submitBooking () {
      var scope = this
      if (scope.$route.query.key1 != '' && scope.$route.query.key2 != '' && scope.day != '' && scope.date != '' && scope.time != '' && scope.seats != '' && scope.totalPrice != '' && scope.paymentType) {
        axios({
          method: 'post',
          url: 'http://localhost:8888/booking',
          data: {
            email: this.$cookie.get('bigbang_user_email'), // I don't know why but using the variable scope doesn't work on $cookie
            movie1: scope.$route.query.key1,
            movie2: scope.$route.query.key2,
            day: scope.day,
            date: scope.date,
            time: scope.time,
            ticket_count: scope.seats,
            price: scope.totalPrice,
            payment: scope.paymentType,
            vcode: ''
          },
          headers: {
            'Content-Type': 'application/json;charset=utf-8',
            'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
          }
        }).then((body) => {
          console.log(body)
          
          axios({
          method: 'post',
          url: 'http://localhost:8888/removesession',
          data: {
            email: this.$cookie.get('bigbang_user_email'), // I don't know why but using the variable scope doesn't work on $cookie
            movie: scope.$route.query.key1
          },
          headers: {
            'Content-Type': 'application/json;charset=utf-8',
            'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
          }
          }).then((body) => {
            console.log(body)
            axios({
            method: 'post',
            url: 'http://localhost:8888/removesession',
            data: {
              email: this.$cookie.get('bigbang_user_email'), // I don't know why but using the variable scope doesn't work on $cookie
              movie: scope.$route.query.key2
            },
            headers: {
              'Content-Type': 'application/json;charset=utf-8',
              'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
            }
            }).then((body) => {
              console.log(body)
              scope.$router.push('/Account')
            }).catch((error) => {
              console.log('we have an error, message:' + error)
            })
          }).catch((error) => {
            console.log('we have an error, message:' + error)
          })
        }).catch((error) => {
          console.log('we have an error, message:' + error)
        })
      } else {
        alert('Missing Input Fields')
      }
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    },
    goRefund () {
      this.$router.push('/RRPolicy')
    },
    goPrivacy () {
      this.$router.push('/PPolicy')
    },
    goContact () {
      this.$router.push('/Contactus')
    }
  },
  mounted: function () {
    this.getMovieDetails()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @font-face{
    font-family:'Montserrat-Bold';
    src: url('../assets/Font/Montserrat-Bold.ttf')
  }
  @font-face{
    font-family:'Montserrat-Regular';
    src: url('../assets/Font/Montserrat-Regular.ttf')
  }
  @font-face{
    font-family:'Montserrat-Light';
    src: url('../assets/Font/Montserrat-Light.ttf')
  }
  @font-face{
    font-family:'Montserrat-SemiBold';
    src: url('../assets/Font/Montserrat-SemiBold.ttf')
  }
  @font-face{
    font-family:'Montserrat-Medium';
    src: url('../assets/Font/Montserrat-Medium.ttf')
  }
  .original-style{
    color: #838383;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.0rem;
    line-height: 1.1rem;
    text-align: center;
  }
  .bolded-style{
    padding: 0.2rem;
    border-radius: 0rem;
    color: #FFFFFF !important;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
  }
  .back-color{
    background-color: #F26621;
	opacity: 100%;
	padding: 0.2rem;
    border-radius: 0rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family:  Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
  }
  .home{
    margin: 0;
    padding: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  #upper-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #logo {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/icons/bbang_icon.svg) no-repeat;
    margin-left: 2.5rem;
    margin-top: 2.13rem;
    width: 5.3rem; /* Width of new image */
    height: 1.8rem; /* Height of new image */
    cursor: pointer;
  }
  #popup{
    background-color: #1F1F1F;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 18.3rem;
    opacity: 100%;
    display: none;
  }
  .menu{
    display: none !important;
  }
  #user-menu{
    /*display: inline-block !important;*/
    margin-top: 2rem;
    margin-right: 3.88rem;
  }
  li, a {
    /* A */
    display:inline-block;
    text-align:center;
    color: #CCCCCC;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    cursor: pointer;
  }
  a:hover {
    /* B */
    font-weight:bold;
    color: #FFFFFF;
    opacity: 100%;
    font-family: Montserrat-Medium;
    font-size: 0.8rem;
  }
  a::after {
    /* C */
    /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
      of elements when one of them is hovered over. To explain the problem: the three elements menu
      "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
      since the letter spacing changes the width changes and therfore the elements get pushed sideways.
      I looked over the internet but with no solution yet!
      currently I removed letter-spacing
      I might resort to having an absolute position for those elements.
    */
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 100%;
    content: attr(title);
    font-family: Montserrat-Medium;
    font-size: 0.8rem;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
    position: absolute;
    right:2.25rem;
    top: 1.88rem;
    width: 1.25rem;
    height: 1.25rem;
    color:#F26621;
    background-color: #FFFFFF;
    border-radius: 2rem;
    font-family: Montserrat-Medium;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
  }
  #showing, #account{
    margin-right: 1.1rem;
  }
  #major-title{
    color: #222222;
    opacity: 100%;
    font-size: 3.13rem;
    font-family: Montserrat-Bold;
    letter-spacing: 0.12rem;
    line-height: 3.81rem;
    margin-top:2.3rem;
  }
  #title{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 5rem;
    font-family: Montserrat-Bold;
    letter-spacing: 0.19rem;
    line-height: 6.06rem;
    /*note that there is no margin between the "title" and "now showing"*/
    margin-left: 9.06rem;
  }
  #genres, #navigation{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.81rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.09rem;
    line-height: 1rem;
    margin-left: 9.06rem;
  }
  .genre{
    /*why am I using inline-block? The answer
      It has no width or height. You could turn it into a block-level element,
      then it will accept your dimension directives.
      Try using a div instead of the span or using the CSS display: block; or display: inline-block;
       — span is by default an inline element which cannot take width and height properties.
    */
    display: inline-block;
    width: 6.75rem;
    height: 1.38rem;
    margin-right: 0.94rem;
  }
  #learn-more{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFFFFF;
    cursor:pointer;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 0.81rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0.09rem;
    line-height: 1rem;
    width: 9.94rem;
    height: 2.88rem;
    margin-left: 9.06rem;
    margin-top: 2.44rem;
  }
  #navigation{
    margin-top: 5.56rem;
  }
  #previous{
    margin-right: 2.25rem;
  }
  #footer-menu{
    margin-top: 3.13rem;
  }
  #footer-menu > li{
    margin-right: 3.19rem;
  }
  #footer-menu > li:last-child {
    margin-right: 0
  }
  #icons-container > img{
    display: inline-block;
    margin-right: 2.31rem;
  }
  #icons-container > img:last-child {
    margin-right: 0
  }
  #movie-number{
    /* CSS Cut of bottom of characters with line-height?
      https://stackoverflow.com/questions/13189471/css-cut-of-bottom-of-characters-with-line-height
      http://jsfiddle.net/EfajG/
    */
    /*something else relevant
      https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
    */
    overflow: hidden;
    opacity: 100%;
    color: transparent;
    font-family: Montserrat-Bold;
    font-size: 25rem;
    letter-spacing: 0.94rem;
    -webkit-text-stroke-width: 0.5rem;
   -webkit-text-stroke-color: #FFFFFF;
  }

  .flex-container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    }

  .flex-item-footer:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .flex-item-footer:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .flex-item-footer:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  /* Styles from the old BOOKING page*/
.upper{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.1rem;
}
.upperLeft{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 50%;
}
.upperRight{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 33%;
}

#upper-bar{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}

#logo {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/icons/bbang_icon.svg) no-repeat;
    width: 5.3rem; /* Width of new image */
    height: 1.8rem; /* Height of new image */
}
#logo2 {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/icons/bbang_icon.svg) no-repeat;
    margin-left: 2.5rem;
    margin-top: 2.1rem;
    margin-bottom: 2.3rem;
    width: 5.3rem; /* Width of new image */
    height: 1.8rem; /* Height of new image */
}
.menu{
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.6rem; /* Width of new image */
    height: 1.6rem; /* Height of new image */
}

#popup{
    background-color: #1F1F1F;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 18.3rem;
    opacity: 100%;
    display: none;
}
#user-menu{
    display: none;
}
.menu:hover ~ #popup{
    display: block;
}
#popup:hover{
    display: block;
}
.user{
    color: #CCCCCC;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin-left: 2.5rem;
}
.user>#showing:hover{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Medium;
    letter-spacing: 0rem;
    line-height: 1rem;
}
.user>#account:hover{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Medium;
    letter-spacing: 0rem;
    line-height: 1rem;
}
.user>#session:hover{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Medium;
    letter-spacing: 0rem;
    line-height: 1rem;
}
#booking{
    color: #222222;
    opacity: 100%;
    font-size: 3.1rem;
    font-family: Montserrat-Bold;
    letter-spacing:0.1rem;
    line-height:3.8rem;
    padding-top: 2.3rem;
}

.major-header{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing:0.1rem;
    line-height:1.1rem;
    margin-top: 1.8rem; /* this is margin from the BOOKING statement*/
}
.minor-header{
    color: #CCCCCC;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Light;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin-top: 0.3rem; /* this is margin from the above statement*/
}

#calender{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    color: #838383;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.0rem;
    line-height: 1.1rem;
    text-align: center;
    margin-top: 1.6rem; /* margin from the above statement (minor-header)*/
}

#sunday:hover , #monday:hover , #tuesday:hover , #wednesday:hover , #thursday:hover, #friday:hover, #saturday:hover {
    color: #FFFFFF !important;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 0.9rem;
}

#sunday:hover> #sun-orng , #monday:hover> #mon-orng, #tuesday:hover> #tue-orng , #wednesday:hover>#wed-orng , #thursday:hover> #thu-orng{
    padding: 0.2rem;
    border-radius: 0rem;
    color: #FFFFFF !important;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
}

.day-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
    margin-left: 2.9rem;
}

#time-range{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    color: #838383;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.0rem;
    line-height: 1.1rem;
    text-align: center;
    margin-top: 1.6rem; /* margin from the above statement (minor-header)*/
}
.time-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
    margin-left: 2.9rem;
}

#slot-1:hover, #slot-2:hover, #slot-3:hover, #slot-4:hover{
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
}
#ticket-range{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    color: #838383;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.0rem;
    line-height: 1.1rem;
    text-align: center;
    margin-top: 1.6rem; /* margin from the above statement (minor-header)*/
}
.ticket-type{
    padding: 0.8rem;
    margin-left: 2.9rem;
}
#one_ticket:hover, #two_ticket:hover{
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
}
.ticket-type-clicked, .time-date-clicked, .payment-type-clicked{
    background-color: #F26621;
    opacity: 100%;
    border-radius: 0rem;
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
}
#payment-options{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #838383;
    opacity: 100%;
    font-size: 0.9rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.0rem;
    line-height: 1.1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.payment-type{
    padding: 0.8rem;
    margin-left: 2.9rem;
}
#card:hover, #voucher:hover{
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.1rem;
}
input{
    color: #CCCCCC;
    width: 31.1rem;
    background-color: var(--bg-color);
    border: none;
}
span.minor-header{
    margin-left: 1.7rem;
}
.blue-header{
    color: #1FC5ED;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin-top: 2.8rem;
}
.no-margin{
    margin-left: 0rem;
}
hr{
    width:100%;
    display: inline-block;
    color: gray;
    opacity: 20%;
}
.booking-details{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 1rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0rem;
    line-height: 1.2rem;
}
.book-now{
    width: 12.3rem;
    height: 2.4rem;
    fill: #FFFFFF;
    color: #FF3363;
    cursor: pointer;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    border-radius: 0rem;
    margin-top: 2.8rem;
}
.book-now:hover {
  background-color: #FF3363;
  color: #FFFFFF;
}
.footer{
    color: #979797;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.1rem;
    line-height: 1rem ;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 6.7rem;
}
#footer-menu{
    margin-top: 1.75rem;
}
#footer-menu > li{
    margin-right: 3.19rem;
}
#footer-menu > li:last-child {
     margin-right: 0
}
.footer-icons:hover{
    filter:brightness(0) invert(1);
}
#icons-container{
    position: absolute;
    right: 2.5rem;
}
#fb_icon, #inst_icon{
  cursor: pointer;
}
.orange-border{
    border-color: #F26621;
    border-style: solid;
    border-radius: 0.1rem !important;
}

.flex-container-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.flex-item-body:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item-body:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
</style>
