<template>
    <div class="home">
        <div class="grid">
            <div class="span-col-2">
                <div id="upper-bar">
                    <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
                    <img class="menu" src="../assets/menu_icon.svg">
                    <ul id="user-menu">
                        <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
                        <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
                        <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
                        <span id="session-button" @click="goToYourSession()">0</span>
                    </ul>
                </div>
            </div>

            <div class="span-col-2-width700 side-margin">
                <div class="now-showing">NOW SHOWING</div>
                <div id="genres">
                    <span class="genre" @click="showList(0); changeClass($event)">{{caption[0]}}</span><span class="genre" @click="showList(1); changeClass($event)">{{caption[1]}}</span>
                </div>
                <div class="flex-container upper-flex-container">
                    <div class="flex-item upper-flex-item">
                        <img v-if="booleansArray[0]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[0][0].doc._id+'/101-poster.jpg'" @click="learnMore(0)">
                        <img v-if="booleansArray[1]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[1][0].doc._id+'/101-poster.jpg'" @click="learnMore(0)">
                    </div>
                    <div class="flex-item upper-flex-item second-flex-item">
                        <div v-if="booleansArray[0]" class="title">{{dataOfMovies[0][0].doc.name}}</div>
                        <div v-if="booleansArray[1]" class="title">{{dataOfMovies[1][0].doc.name}}</div>
                        <div v-if="booleansArray[0]" class="details">{{dataOfMovies[0][0].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[0][0].doc.video_length/60000)}}min</div>
                        <div v-if="booleansArray[1]" class="details">{{dataOfMovies[1][0].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[1][0].doc.video_length/60000)}}min</div>
                        <div class="timings">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                        <div class="learn" @click="learnMore(0)">Learn More</div>
                    </div>
                </div>
                <div class="flex-container margin-flex-container">
                    <div class="flex-item upper-flex-item">
                        <img v-if="booleansArray[0]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[0][1].doc._id+'/101-poster.jpg'" @click="learnMore(1)">
                        <img v-if="booleansArray[1]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[1][1].doc._id+'/101-poster.jpg'" @click="learnMore(1)">
                    </div>
                    <div class="flex-item upper-flex-item second-flex-item">
                        <div v-if="booleansArray[0]" class="title">{{dataOfMovies[0][1].doc.name}}</div>
                        <div v-if="booleansArray[1]" class="title">{{dataOfMovies[1][1].doc.name}}</div>
                        <div v-if="booleansArray[0]" class="details">{{dataOfMovies[0][1].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[0][1].doc.video_length/60000)}}min</div>
                        <div v-if="booleansArray[1]" class="details">{{dataOfMovies[1][1].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[1][1].doc.video_length/60000)}}min</div>
                        <div class="timings">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                        <div class="learn" @click="learnMore(1)">Learn More</div>
                    </div>
                </div>
                <div class="flex-container margin-flex-container">
                    <div class="flex-item upper-flex-item">
                        <img v-if="booleansArray[0]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[0][2].doc._id+'/101-poster.jpg'" @click="learnMore(2)">
                        <img v-if="booleansArray[1]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[1][2].doc._id+'/101-poster.jpg'" @click="learnMore(2)">
                    </div>
                    <div class="flex-item upper-flex-item second-flex-item">
                        <div v-if="booleansArray[0]" class="title">{{dataOfMovies[0][2].doc.name}}</div>
                        <div v-if="booleansArray[1]" class="title">{{dataOfMovies[1][2].doc.name}}</div>
                        <div v-if="booleansArray[0]" class="details">{{dataOfMovies[0][2].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[0][2].doc.video_length/60000)}}min</div>
                        <div v-if="booleansArray[1]" class="details">{{dataOfMovies[1][2].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[1][2].doc.video_length/60000)}}min</div>
                        <div class="timings">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                        <div class="learn" @click="learnMore(2)">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="span-col-2-width700">
                <div class="flex-container right-upper-flex-container">
                    <div class="flex-item upper-flex-item">
                        <img v-if="booleansArray[0]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[0][3].doc._id+'/101-poster.jpg'" @click="learnMore(3)">
                        <img v-if="booleansArray[1]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[1][3].doc._id+'/101-poster.jpg'" @click="learnMore(3)">
                    </div>
                    <div class="flex-item upper-flex-item second-flex-item">
                        <div v-if="booleansArray[0]" class="title">{{dataOfMovies[0][3].doc.name}}</div>
                        <div v-if="booleansArray[1]" class="title">{{dataOfMovies[1][3].doc.name}}</div>
                        <div v-if="booleansArray[0]" class="details">{{dataOfMovies[0][3].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[0][3].doc.video_length/60000)}}min</div>
                        <div v-if="booleansArray[1]" class="details">{{dataOfMovies[1][3].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[1][3].doc.video_length/60000)}}min</div>
                        <div class="timings">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                        <div class="learn" @click="learnMore(3)">Learn More</div>
                    </div>
                </div>
                <div class="flex-container margin-flex-container">
                    <div class="flex-item upper-flex-item">
                        <img v-if="booleansArray[0]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[0][4].doc._id+'/101-poster.jpg'" @click="learnMore(4)">
                        <img v-if="booleansArray[1]" id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+dataOfMovies[1][4].doc._id+'/101-poster.jpg'" @click="learnMore(4)">
                    </div>
                    <div class="flex-item upper-flex-item second-flex-item">
                        <div v-if="booleansArray[0]" class="title">{{dataOfMovies[0][4].doc.name}}</div>
                        <div v-if="booleansArray[1]" class="title">{{dataOfMovies[1][4].doc.name}}</div>
                        <div v-if="booleansArray[0]" class="details">{{dataOfMovies[0][4].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[0][4].doc.video_length/60000)}}min</div>
                        <div v-if="booleansArray[1]" class="details">{{dataOfMovies[1][4].doc.keywords.genre[0]}} - {{Math.round(dataOfMovies[1][4].doc.video_length/60000)}}min</div>
                        <div class="timings">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                        <div class="learn" @click="learnMore(4)">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="span-col-2-width700 footer">
                <div>
                    <ul id="footer-menu">
                        <li @click="goRefund()"><a>Refund &amp; Return policy </a></li>
                        <li @click="goPrivacy()"><a>Privacy policy</a></li>
                        <li @click="goContact()"><a>Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="span-col-2-width700 footer">
                <div>
                    <div id="icons-container">
                        <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.4rem;" class="footer-icons" id="fb_icon" @click="openFB()">
                        <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.4rem;" class="footer-icons" @click="openINSTA()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const axios = require('axios')
export default {
  data () {
    return {
      msg: '',
      caption: [],
      idsOfPlaylists: [],
      dataOfMovies: [],
      movieTitles: [],
      moviesSrcs: [],
      genres: [],
      lengths: [],
      booleansArray: [true, false] // this boolean array is used to determine which playlist is selected
    }
  },
  methods: {
    getPlayLists () {
      var scope = this
      /* getting the playlists from the host on the provided link */
      axios.get('https://viakeyscreen.com/domain/cinemoz.com/feed/schedule/home', { params: { outlet: 'website', metadata: 'false', limit: '2', language: 'english' } }).then((body) => {
        console.log(body.data.rows)
        /* for looping over the playlists, currently we set the limit of playlists to 2 */
        for (let i = 0; i < body.data.rows.length; i++) {
          scope.caption.push(body.data.rows[i].value.caption)
          scope.idsOfPlaylists.push(body.data.rows[i].value.id)
          /* once we received the playlists we send a request to another URI, the new request provides the ID
            of the playlist as a parameter. We will get in return a list of movies with description about each movie */
          axios.get('https://viakeyscreen.com/domain/cinemoz.com/media/' + scope.idsOfPlaylists[i] + '/items', { params: { outlet: 'website', metadata: 'true', limit: '5', language: 'english' } }).then((body2, i) => {
            console.log(body2.data.rows)
            scope.dataOfMovies.push(body2.data.rows)
          }).catch((error) => {
            console.log('error in retrieving the Movie data: ' + error)
          })
        }
      }).catch((error) => {
        console.log('error in retrieving playlists: ' + error)
      })
    },
    showList (n) {
      var scope = this
      for (var i = 0; i < scope.booleansArray.length; i++) {
        scope.$set(scope.booleansArray, i, false)
      }
      scope.$set(scope.booleansArray, n, true)
    },
    learnMore (n) {
      /*  in this function data will be stored in the VUEX store, so we can access them in the info page
        the parameter 'n' helps in knowing which learn was clicked
      */
      /* first which playlist is selected */
      if (this.booleansArray[0]) {
        // setting movie doc in the store
        this.$store.commit('setmovieDoc', this.dataOfMovies[0][n])
        // setting movie title in the store
        this.$store.commit('setmovietitle', this.dataOfMovies[0][n].doc.name)
        // setting movie synopsis
        this.$store.commit('setsynopsis', this.dataOfMovies[0][n].doc.description)
        // setting movie genre
        this.$store.commit('setmoviegenre', this.dataOfMovies[0][n].doc.keywords.genre[0])
        // setting movie release date
        this.$store.commit('setreleasedate', this.dataOfMovies[0][n].doc.keywords.year[0])
        // setting movie director
        this.$store.commit('setdirector', this.dataOfMovies[0][n].doc.keywords.director[0])
        // setting movie picture link
        this.$store.commit('setmoviepicturelink', 'https://viakeyscreen.com/domain/cinemoz.com/asset/' + this.dataOfMovies[0][n].doc._id + '/105-featured_big.jpg')
        // going to session page
        this.$router.push({name: 'Info', query: {'key': this.dataOfMovies[0][n].doc._id}})
      } else if (this.booleansArray[1]) {
        // setting movie title in the store
        this.$store.commit('setmovietitle', this.dataOfMovies[1][n].doc.name)
        // setting movie synopsis
        this.$store.commit('setsynopsis', this.dataOfMovies[1][n].doc.description)
        // setting movie genre
        this.$store.commit('setmoviegenre', this.dataOfMovies[1][n].doc.keywords.genre[0])
        // setting movie release date
        this.$store.commit('setreleasedate', this.dataOfMovies[1][n].doc.keywords.year[0])
        // setting movie director
        this.$store.commit('setdirector', this.dataOfMovies[1][n].doc.keywords.director[0])
        // setting movie picture link
        this.$store.commit('setmoviepicturelink', 'https://viakeyscreen.com/domain/cinemoz.com/asset/' + this.dataOfMovies[1][n].doc._id + '/105-featured_big.jpg')
        // going to session page
        this.$router.push({name: 'Info', query: {'key': this.dataOfMovies[1][n].doc._id}})
      } else {
        console.log('error')
      }
    },
    changeClass (element) {
      // getting the element that set this function call
      var e = element.target
      e.classList.remove('genre')
      if (e.classList.contains('genre-clicked')) {
        // do nothing
      } else {
        var listOfElements = document.getElementsByClassName('genre-clicked')
        for (var i = 0; i < listOfElements.length; i++) {
          // note: if you switch the position of the statements, you will have an error
          // what am thinking of is the following, it seems like when I remove class 'genre-clicked'
          // first then it is no longer part of the listOfElements array, so when I try to add class
          // 'genre' to the array it doesn't take it
          listOfElements[i].classList.add('genre') // statement 1
          listOfElements[i].classList.remove('genre-clicked') // statement 2
        }
        e.classList.remove('genre')
        e.classList.add('genre-clicked')
      }
    },
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    },
    goRefund () {
      this.$router.push('/RRPolicy')
    },
    goPrivacy () {
      this.$router.push('/PPolicy')
    },
    goContact () {
      this.$router.push('/Contactus')
    }
  },
  mounted: function () {
    this.getPlayLists() 
  }

}
</script>

<style scoped>
    @font-face{
        font-family:'Montserrat-Bold';
        src: url('../assets/Font/Montserrat-Bold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Regular';
        src: url('../assets/Font/Montserrat-Regular.ttf')
    }
    @font-face{
        font-family:'Montserrat-Light';
        src: url('../assets/Font/Montserrat-Light.ttf')
    }
    @font-face{
        font-family:'Montserrat-SemiBold';
        src: url('../assets/Font/Montserrat-SemiBold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Medium';
        src: url('../assets/Font/Montserrat-Medium.ttf')
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-col-2{
        grid-column: span 2 / auto;
    }
    .side-margin{
        margin-left: 2.5rem;
    }
    #upper-bar{
        height: 6.25rem;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(/icons/bbang_icon.svg) no-repeat;
        margin-left: 2.5rem;
        margin-top: 2.13rem;
        width: 5.3rem; /* Width of new image */
        height: 1.8rem; /* Height of new image */
        cursor: pointer;
    }
    .menu{
        display: none !important;
    }
    #user-menu{
       /* margin-top: 2rem;*/
        margin-right: 3.88rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li, a {
        /* A */
        display:inline-block;
        text-align:center;
        color: #CCCCCC;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        cursor: pointer;
    }
    #showing::before, #account::before , #session::before{
        content: "";/* This is necessary for the pseudo element to work. */
        display: block;/* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 2.3rem; /* Change this to whatever width you want. */
        padding-top: 1.75rem; /* This creates some space between the element and the border. */
        border-top: 3px solid pink; /* This creates the border. Replace black with  whatever color you want. */
    }

    a:hover {
        /* B */
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
    }
    a::after {
        /* C */
        /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
            of elements when one of them is hovered over. To explain the problem: the three elements menu
            "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
            since the letter spacing changes the width changes and therfore the elements get pushed sideways.
            I looked over the internet but with no solution yet!
            currently I removed letter-spacing
            I might resort to having an absolute position for those elements.
        */
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 100%;
        content: attr(title);
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }
    .now-showing{
        color: #222222;
        opacity: 100%;
        font-size: 3.13rem;
        font-family: Montserrat-Bold;
        letter-spacing: 0.12rem;
        line-height: 3.81rem;
    }
    #showing, #account{
        margin-right: 1.1rem;
    }
    #genres{
        font-size: 1.13rem;

        letter-spacing: 0.12rem;
        line-height: 1.38rem;
        margin-top: 1.81rem;
    }
    .genre{
        /*why am I using inline-block? The answer
            It has no width or height. You could turn it into a block-level element,
            then it will accept your dimension directives.
            Try using a div instead of the span or using the CSS display: block; or display: inline-block;
            — span is by default an inline element which cannot take width and height properties.
        */
        cursor: pointer;
        font-family: Montserrat-Regular;
        opacity: 59.44%;
        color: #FFFFFF;
        display: inline-block;
        margin-right: 2.69rem;
    }
    .genre-clicked{
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        color: #F26621;
        opacity: 100%;
        display: inline-block;
        margin-right: 2.69rem;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }
    .flex-item:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .flex-item:nth-child(2) {
        margin-left: 1.19rem;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .upper-flex-container{
        margin-top: 3.88rem;
    }
    .right-upper-flex-container{
        margin-top: 10.88rem;
    }
    .margin-flex-container{
        margin-top: 2.5rem;
    }
    .second-flex-item{
        margin-top: 2.31rem;
    }
    #poster1, #poster2, #poster3, #poster4, #poster5{
        cursor: pointer;
        width: 10rem;
        height: 14.88rem;
    }
    .title{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-SemiBold;
        font-size: 1rem;
        letter-spacing: 0.04rem;
        line-height: 1.19rem;
    }
    .details{
        color: #1FC5ED;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top: 0.38rem;
        height: 1.38rem;
    }
    .timings{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top:1.25rem;
        height: 4rem;
    }
    .learn{
        color: #CCCCCC;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top:1.25rem;
        margin-top:1.44rem;
        cursor: pointer;
    }
    .footer{
        margin-top:8.19rem;
        height: 6.25rem;
    }
    #right-footer-menu{
        float: right;
        margin-right: 2.25rem;
    }
    #footer-menu{
        margin-top: 1.75rem;
    }
    #footer-menu > li{
        margin-right: 3.19rem;
    }
    #footer-menu > li:last-child {
        margin-right: 0
    }
    .footer-icons:hover{
        filter:brightness(0) invert(1);
    }
    #icons-container{
        position: absolute;
        right: 0;
        margin-right: 2.25rem;
        margin-top: 1.81rem;
    }
    #icons-container > img{
        display: inline-block;
        margin-right: 2.31rem;
    }
    #icons-container > img:last-child {
        margin-right: 0
    }
    #fb_icon, #inst_icon{
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        .span-col-2-width700{
            grid-column: span 2 / auto;
        }
    }
</style>
