<template>
  <div>

    <router-view/>
  </div>
</template>

<script>
import Form from './components/Form.vue'
import Display from './components/Display.vue'




export default {
  components:{
    'app-form':Form,
    'app-display':Display,
  }
}
</script>

<style>

</style>
