<template>
    <div>{{msg}}
        <br>
        <button>
            New Reservation
        </button>
        <br><br><br>
        <div>
            <input type="text" v-bind:placeholder="dateField" v-model="date">
            <input type="text" v-bind:placeholder="dayField" v-model="day">
            <input type="text" v-bind:placeholder="timeField" v-model="time">
            <input type="text" v-bind:placeholder="seatsField" v-model="seats">
            <input type="text" v-bind:placeholder="paymentField" v-model="payment">
            <input type="text" v-bind:placeholder="voucherField" v-model="voucher">
        </div>
        <br>
        <button v-on:click="submitForm()">
            Submit Reservation
        </button>
    </div>
</template>


<script>
export default {
    name: 'HelloWorld',
        data () {
        return {
            date:'',
            day:'',
            time:'',
            seats:'',
            payment:'',
            voucher:'',

            dateField:'',
            dayField:'',
            timeField:'',
            seatsField:'',
            paymentField:'',
            voucherField:'',

            msg: 'You are in form-fill page. If the input is INVALID, the page doesn\'t restrict it' 
        }
    }, 
    methods:{
      submitForm(){
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/post';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


        var day = this.day;
        var date = this.date;
        var time = this.time;
        var ticket_count = this.seats;
        var total_price = parseInt(this.seats)*20;
        var payment_type = this.payment;

        var vouch_code =  this.voucher;
        var params = "day="+day+"&date="+date+"&time="+time+"&ticket_count="+ticket_count+"&price="+total_price+"&payment="+payment_type+"&vcode="+vouch_code+"";

        xreq.onreadystatechange = function() {//Call a function when the state changes.
            if(xreq.readyState == 4 && xreq.status == 200) {
                alert(xreq.responseText);
            }
        }

        xreq.send(params);  
        }
    },
    mounted:
        function(){
            var xreq = new XMLHttpRequest();
            var url = 'http://127.0.0.1:8888/retrieve';
            xreq.open("GET", url, true);
            xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            var data = "";
            var scope = this;
            xreq.onreadystatechange = function() {//Call a function when the state changes.
                if(xreq.readyState == 4 && xreq.status == 200) {
                    data = JSON.parse(xreq.responseText);
                    scope.dayField = data['rows'][0]['doc']['weekday'].toLowerCase();
                    scope.dateField = data['rows'][0]['doc']['date'];
                    scope.timeField = data['rows'][0]['doc']['time'];
                    // var ticket_price = data['rows'][0]['doc']['ticket_price'];
                    scope.seatsField = data['rows'][0]['doc']['ticket_count'];
                    scope.paymentField = data['rows'][0]['doc']['payment'];
                    scope.voucherField = data['rows'][0]['doc']['voucher_Code'];
                }
            }
            xreq.send(null);
        }
    

}
</script>