<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Payment Type" v-model="payment" @change="insertField">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Provide Payment Type',
    }
  },
  computed: {
    ...mapState([
      'payment'
    ]),
    ...mapGetters([
      'getPayment'
    ]),
    payment:{
      get(){
        return this.$store.getters.getPayment
      },
      set(value){
        this.$store.commit('ADD_PAYMENT', value)
      }
    }
  },
  methods:{
    ...mapMutations([
      'ADD_PAYMENT'
    ]),
    insertField(){
      var scope = this;
      scope.$router.push('/Voucher');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
