<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Time" v-model="time" @change="insertField">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Provide the Time',
    }
  },
  computed: {
    ...mapState([
      'time'
    ]),
    ...mapGetters([
      'getTime'
    ]),
    time:{
      get(){
        return this.$store.getters.getTime
      },
      set(value){
        this.$store.commit('ADD_TIME', value)
      }
    }
  },
  methods:{
    ...mapMutations([
      'ADD_TIME'
    ]),
    insertField(){
      var scope = this;
      scope.$router.push('/TicketCount');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
