<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Voucher Code" v-model="voucher" @change="insertField">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Use a Voucher if you have any!',
    }
  },
  computed: {
    ...mapState([
      'voucher_code'
    ]),
    ...mapGetters([
      'getVoucher'
    ]),
    voucher:{
      get(){
        return this.$store.getters.getVoucher
      },
      set(value){
        this.$store.commit('ADD_VOUCHER', value)
      }
    }
  },
  methods:{
    ...mapMutations([
      'ADD_VOUCHER'
    ]),
    insertField(){
      var scope = this;
      scope.$router.push('/Confirmation'); 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
