<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
</head>	
<body>
	

	<div id="app">
        {{ message }}
    </div>
	<script src="node_modules/vue/dist/vue.js"></script>
	<script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        
    </script>

</body>
</html>