<template>
	<div id="d_input">
		<input v-model="first" placeholder="provide number" v-on:change="color_switch()">
    <input v-model="second" placeholder="provide 2nd number" v-on:change="color_switch()">
		 <button v-on:click="addToTotal(first,second)"> ADD </button>

		 <div id="box"> Table of {{first}} X {{second}} elements </div>

		 <div v-for="index1 in rows">
        <span v-for="index2 in cols" v-on:click="visualChange($event)" v-bind:id="index1+''+index2"> {{values[index1][index2]}} </span>
		 </div>

	</div>
</template>

<script>

export default {
  data () {
    return {
      first: '',
      second: '',
      values: [],
      rows: [],
      cols: [],
      sum: 0
    }
  }, methods:{
  		sumUp(n){
  			this.sum = this.sum+parseInt(n);
  		},
  		addToTotal(n1, n2){
  			// https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript

  			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        for(var i=0; i<n1; i++){
          this.values.push([]);
          this.rows.push(i);
        }
        for(var j=0; j<n2; j++){
          this.cols.push(j);
        }

  			for(var i = 0; i<n1; i++){
          for(var j = 0; j<n2; j++){
            this.values[i].push( possible.charAt(Math.floor(Math.random() * possible.length)) );
          }

  			}
        document.getElementById("box").style.color="black";
  		},
      color_switch(){
        if(this.first==this.rows.length && this.second==this.cols.length ){
          document.getElementById("box").style.color="black";
        }else{
          document.getElementById("box").style.color="red";
        } 
      },
      visualChange(event){
        if(event.target.style.backgroundColor=="lightblue"){
          event.target.style.backgroundColor= "white";
        }else{
          event.target.style.backgroundColor= "lightblue";
        }
        
      }
  }
}

</script>

<style scoped>
	#d_input{
    width: 100%;
    box-sizing: border-box;

	}
	#details{
		padding: 20px;
	}
</style>