<template>
  <div class="hello">
    <h1>Your Booking Details</h1>
    <p> {{ day }} <br> {{date}} <br> {{time}} <br> {{ticketCount}} <br> {{payment}} <br> {{voucher}}</p>
    <h3>{{ msg }}</h3>
    <button v-on:click="confrim()">Main Page</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'


export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Go Back To Main Page',
      doc_id:'',
      day:'',
      date:'',
      time:'',
      ticketCount:'',
      payment:'',
      price:'',
      voucher:''
    }
  },
  computed: {
    ...mapState([
      'document_id'
    ]),
    ...mapGetters([
      'idValue'
    ]),
  },
  methods:{
    ...mapMutations([
      'ADD_ID'
    ]),
    confrim(){
      this.$router.push('/');
    }
  },
  mounted:function(){
        var scope = this;
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/getByID';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        var parameter = "id="+scope.$store.getters.idValue;
        xreq.onreadystatechange = function() {
          if(xreq.readyState == 4 && xreq.status == 200) {
            var data = JSON.parse(xreq.responseText);
            scope.day = data.weekday;
            scope.date = data.date;
            scope.time = data.time;
            scope.ticketCount = data.ticket_count;
            scope.price = parseInt(data.ticket_count)*20;
            scope.payment = data.payment;
            scope.vouchet = data.voucher;
          }
        }
        xreq.send(parameter);
    }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
