<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button v-on:click="createDoc()">Reserve A Session</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'


export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to BigBang',
      doc_id:''
    }
  },
  computed: {
    ...mapState([
      'document_id'
    ]),
    ...mapGetters([
      'idValue'
    ]),
  },
  methods:{
    ...mapMutations([
      'ADD_ID'
    ]),
    createDoc(){
        var scope = this;
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/post';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        var date = new Date();
        var type = "reservation";
        var params = "day=&date=&time=&ticket_count=&price=&payment=&vcode=";
        xreq.onreadystatechange = function() {//Call a function when the state changes.
          if(xreq.readyState == 4 && xreq.status == 200) {
            // alert(xreq.responseText);
            var body = JSON.parse(xreq.responseText);
            scope.doc_id = body.id;
            scope.ADD_ID(scope.doc_id)
            scope.$router.push('/Day');
            //scope.navigatePage();
            }
        }
        xreq.send(params);
    },
    navigatePage(){
        // this is an unnecessary step. IT was meant to check that the document is created in the database
        var scope = this;
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/getByID';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        
        var parameter = "id="+scope.doc_id;
        xreq.onreadystatechange = function() {
          if(xreq.readyState == 4 && xreq.status == 200) {
            alert(xreq.responseText);
            scope.$router.push('/Day');
          }
        }
        xreq.send(parameter);

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
