<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Time" v-model="time">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Provide the Time',
      time:'',
      doc_id:''
    }
  },
  computed: {
    ...mapState([
      'document_id'
    ]),
    ...mapGetters([
      'idValue'
    ]),
  },
  methods:{
    ...mapMutations([
      'ADD_ID'
    ]),
    insertField(){
        var scope = this;
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/fieldAdd';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        var parameter = "id="+scope.$store.getters.idValue+"&field=time&value="+scope.time;

        xreq.send(parameter);
        xreq.onreadystatechange = function(){
          if (xreq.readyState == 4 && xreq.status ==200){
            //alert(xreq.responseText);
            scope.$router.push('/TicketCount');
          }
        }
        
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
